.login{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}
.login__logo{
    color: #1877f2;
    font-size: 56px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login > button{
    width: 300px;
    background-color: #2e81f2;
    color: #eff2f5;
    font-weight: 800;
}
.login > button:hover{
    background-color: #ffffff;
    color: #2e81f2;
}
.login > div > img{
    object-fit: contain;
    height: 150px;
}
.login > div{
    display: flex;
    flex-direction: column;
}